body {

    font-family: arial, "Helvetica Neue", Helvetica, "sans-serif";
    line-height: 120%;
    color: #777777;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    background-color: #ffffff;
    border: #cccccc;
}


h2 {
    font-size: 18px;
    color: teal;
}

p {
    color: #777777;
}

h1,
h2,
h3 {
    font-family: georgia, times, "times new roman", serif;
}


hr {
    width: 95%;
}

#yourname,
#contact,
#portfolio,
#about {
    height: 50px;
}

#yourname {
    float: left;
    margin-left: 50px;
    width: 200px;
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #4aaaa5;
}


#contact,
#portfolio,
#about {
    font-size: 12px;
    padding-top: 15px;
    float: right;
    width: 70px;
    text-align: center;
    
}

#about {
    margin-right: 140px;
}

.middle {
    clear: both;
    padding-top: 25px;
    height: 350px;
    width: 960px;
    background: #d3d3d3;
    border: #dddddd;
}


img {
    float: left;
    padding-right: 10px;
}


.aboutme {
    color: #4aaaa5;
    float: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 20px;
    height: 300px;
    width: 500px;
    background: white;
    text-overflow: auto;
    line-height: 20px;
}

.connectwithme {
    color: #4aaaa5;
    display: inline-block;
    margin-left: 20px;
    line-height: 20%;
    height: 120px;
    width: 270px;
    text-align: center;
    padding-top: 1px;
    background: white;
}

li {
    display: inline-block;
}

.middle1 {
    clear: both;
    padding-top: 25px;
    height: 500px;
    width: 960px;
    background: #d3d3d3;
    border: #dddddd;
}

.contactdiv {
    float: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 20px;
    height: 475px;
    width: 500px;
    background: white;
    text-overflow: auto;
}

#name,
#email {
    font-size: 12px;
    line-height: 50%;
    border: 1px solid blue;
}


#message {
    font-size: 12px;
    border: 1px solid blue;
    height: 125px;
    margin-bottom: 10px;
}

#submision {
    float: left;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 12px;
    text-align: center;
    background: #4aaaa5;
}


.middle3 {
    clear: both;
    padding-top: 25px;
    height: 525px;
    width: 960px;
    background: #d3d3d3;
    border: #dddddd;
}


.portfolio2 {
    float: left;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 45px;
    margin-left: 50px;
    margin-right: 20px;
    height: 480px;
    width: 450px;
    background: white;
}

.fixmargin {
    margin-right: 5px;
}

.container1 {
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
}


.center {
    padding-top: 7px;
    font-size: 12px;
    color: white;
    background: #4aaaa5;
    height: 30px;
    padding-bottom: 7px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 200px;
    height: 20px;
    text-align: center;
}




#space {
    height: 8px;
    width: 960px;
    background: #4aaaa5;
}


#footer {
    font-size: 10px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #666666;
}
